/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*non-boilerplate CSS*/

body {
  background-color: black;
  color: seashell;
  font-family: helvetica;

}

/* Universal styling */

* {
  margin: 0;
  padding: 0;
}

/* Navbar styling */

.Navbar {
  background-color: black;
  color: seashell;
  border-bottom-color: seashell;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 69px;
}

.Navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.Navbar li {
  margin-right: 20px;
  text-decoration: underline;
  font-size: 22px;
}

  #Navlogo {
  padding: 10px;
  height: 50px;
  color: seashell;
}

/*Main styling*/

main {
 color: seashell
}

/* Our mission styling */

.our-mission {
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*19vb12j*_ga*NDMzNzE0MDE0OS4xNjkyNTU3NDgw*_ga_3LRZM6TM9L*MTcwNDQ0NTkxMS4xMTcuMC4xNzA0NDQ1OTI1LjAuMC4w);
  background-size: cover;
  background-position: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: seashell;
}

.our-mission-content {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 20px
}

.our-mission-content h1 {
  margin-top: 0;
  line-height: normal;
}

.our-mission-content h4{
  margin-top: 10px;
}

/* Tea of the month styling */

.tea-of-the-month {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: seashell;
}

.tea-of-the-month-content {
  margin-bottom: 50px;
  width: 1000px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px
}

.tea-of-the-month-content h1 {
  margin-top: 0;
  line-height: normal;
}

.tea-of-the-month-content h4{
  margin-top: 10px;
}

.tea-of-the-month-row1 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tea-of-the-month-row2 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tea-of-the-month-content figure {
  flex: 0 0 300px;
  height: 200px;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}

.tea-of-the-month-content img {
  width: 100%;
  height: auto
}

.tea-of-the-month h1 {
  margin-top: 0;
  margin-bottom: 100px;
  line-height: normal;
}

tea-of-the-month h4 {
  margin-top: 100px;
}


/* Locations styling */



.locations {
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*10at9nj*_ga*NDMzNzE0MDE0OS4xNjkyNTU3NDgw*_ga_3LRZM6TM9L*MTcwNDQ0NTkxMS4xMTcuMC4xNzA0NDQ1OTI1LjAuMC4w);
  background-size: cover;
  background-position: center;
  margin-left: 50px;
  margin-right: 50px;
  height: 500px;
  display: flex;
  flex-direction: column;
  color: seashell;
}

.locations h2 {;
  margin-top: 30px;
  margin-bottom: 15px;
  color: seashell;
}

.location-container {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

.location-box {
  background-color: rgba(0, 0, 0, 0.9);
  height: auto;
  width: 300px;
  text-align: center;
}

.location-box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  color: seashell;
}

.location-box h3 {
  margin-top: 10px;
  color: seashell;
}

/* Footer styling */

footer {
  background-color: black;
  color: seashell;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  padding: 0 20px;
  position: relative;
}

footer .copywrite {
  color: seashell;
  position: absolute;
  left: 20px;
  bottom: 10px;
  margin: 0;
  text-align: left;
}

.footer-content h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: seashell;
  font-size: 20px;
}

.footer-content h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: seashell;
  font-size: 20px;
}


h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
}

h4 {
  font-size: 20px;
  text-align: center;
}

h5 {
  font-size: 15px;
  text-align: center;
}
